# theme = 0x96f
# theme = Dimidium
# theme = "flexoki-dark"
# theme = framer
# theme = Galizur
theme = "GitHub-Dark-Default"
fullscreen = true

font-family = Menlo
font-size = 14
font-thicken = true
window-inherit-font-size = false

cursor-style = block
shell-integration-features = no-cursor

scrollback-limit = 10000

keybind = super+alt+right=next_tab
keybind = super+alt+left=previous_tab

window-padding-x = 15
window-padding-y = 15

copy-on-select = false

auto-update = check

macos-option-as-alt = true
