# Jo Colina's config
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	dc = diff
	lg = log -p
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	p = push
	dc = diff
	lg = log
	pl = push --force-with-lease
	pf = push -f
	pr = !pr
	squash = "!f(){ git rebase -i HEAD~${1}; }; f"
	amend = commit --amend --no-edit
	cleanup = "!git branch | grep -v "master" | xargs git branch -D"
	contrib = !git pull --rebase && git push
	magic = !git add -u && git amend && git pl
	blame-orig = blame -w -C -C -C
[user]
	name = Jo Colina
	email = jo@jocolina.com
[core]
	editor = nano
	excludesfile = ~/.gitignore
[push]
	followTags = true
[pull]
	rebase = false
[commit]
	gpgSign = true
[branch]
	sort = -committerdate
[rerere]
	enabled = true
[tag]
	sign = true
	sort = -v:refname

[include]
	path = .gitoverride
