[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	dc = diff
	lg = log -p
	pr = pull --rebase
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	p = push
	dc = diff
	lg = log
	pl = push --force-with-lease
	pf = push -f
	squash = "!f(){ git rebase -i HEAD~${1}; }; f"
	amend = commit --amend --no-edit
[core]
	editor = nano
	excludesfile = ~/.gitignore
